<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/result" method="POST">
        <br><br>
       <input type="number" name="python" id="" placeholder="Python">
       <br><br>
       <input type="number" name="java" id="" placeholder="Java">
       <br><br>
       <input type="number" name="javascript" id="" placeholder="JavaScript">
       <br><br>
       <input type="number" name="typescript" id="" placeholder="TypeScript"><br><br>
       <input type="number" name="flask" id="" placeholder="Flask"><br><br>
       <input type="submit" value="Calculate Percentage">

    </form>

    <textarea name="" id="" cols="30" rows="10">
      
        {{percentage}}


    </textarea>
</body>
</html>